* {
    margin: 0;
    padding: 0;
    /* background-color: #ede2d7; */
}

.container{
    height: 100vh;

}

/* .cup-div{
    height: 100vh;
    width: 50vw;
    height: 100vh;
} */

.cup-image{
    width: 50vw;
    height: vw;
}

.text-div{
    width: 50vw;
}